/dist
/build
/__pycache__
/argparse-1.4.0.dist-info
/bin
/certifi
/certifi-2026.2.25.dist-info
/charset_normalizer
/charset_normalizer-3.4.4.dist-info
/idna
/idna-3.11.dist-info
/requests
/requests-2.32.5.dist-info
/tqdm
/tqdm-4.67.3.dist-info
/urllib3
/urllib3-2.6.3.dist-info
/images/*
